<html>
<head>
<title>Como Validar um Formulário dinamicamente com jQuery</title>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" ></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script> 

<meta charset="utf-8">

<style>
       .error{
             color:red
       }
</style>

</head>
<body>
 
<div class="col-md-6 col-offset-2">
             <div class="panel panel-primary">
                    <div class="panel-heading">Envie sua mensagem</div>
                    <div class="panel-body">
                           <form action="enviar_mensagem.php" method="post" id="form_contato" class="form">
                                  
                                  <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" name="nome" id="nome" required minlength="5" class="form-control"/>
                                  </div>
                                  
                                  <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" required class="form-control"/>
                                  </div>
                                  
                                  <div class="form-group">
                                        <label for="mensagem">Mensagem</label>
                                        <textarea type="text" name="mensagem" id="mensagem" minlength="100" required class="form-control"></textarea>
                                  </div>
								  
								  <div class="form-group">
                                        <label for="data">Data</label>
                                        <input type="text" name="data" id="data" required class="form-control">
                                  </div>
								  
                                  <div>
                                        <input type="submit" class="btn btn-success" value="Enviar"/>
                                  </div>
                           
                           </form>
                    </div>
             </div> 
       </div>
       <script src="jquery-2.1.4.min.js"></script>
       <script src="jquery.validate.min.js"></script>
<script>
        

  $("#form_contato").validate({
	rules: {
		nome: {
			required:true,
			minlength:3
		},
		
		email:{
			required:true
		},
		
		mensagem:{
			required:true,
			minlength:100
		},
		
		data:{
			required:true
		}
		
	},
	
	messages:{
		
		nome:{
			required:"Digite seu nome",
			minlength:"O nome pelo menos deve ter 3 caracteres"
		},
		
		email:{
			required:"Digite um email",
			email:"Por favor digite um email válido"
		},
		
		mensagem:{
			required:"Digite uma mensagem",
			minlength:"Digite no mínimo 100 palavras"
		},
		
		data: {
			required:"Digite a data"
		}	
		
	}
	
  });
  
  $(document).ready(function(){
	$('#data').inputmask("99/99/9999",{
		showMaskOnFocus:false,
		showMaskOnHover:false
	});
  
  });


</script>

 
</body>
</html>

